@using BlogSampleV2.WebUI.Models
@model ArticlesViewModel

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>

@foreach (var article in @Model.Articles)
{
    <div class="post">
        <h3>@article.Title</h3>
        @if (article.Text.Length > 200)
        {
            <article>
                @article.Text.Substring(0, 199)...
                @Html.ActionLink("More", "Article", "Home", new { id = article.Id }, new { @class = "more-button", @target = "_blank" })
            </article>
        }
        else
        {
            <article>@article.Text</article>
        }
        <p>Posted by <strong>@article.Author.Nick</strong> @article.PostedDate.ToShortDateString()</p>
    </div>    
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Articles", new { page = x }))
</div>