@model BlogSampleV2.WebUI.Models.QuestionnaireViewModel

@{
    ViewBag.Title = "Update Info";
}

<h2>Update Info</h2>

@using (Html.BeginForm("Result", "Questionnaire"))
{
    <p>First name:</p>    
    @Html.EditorFor(model => model.User.FirstName)
    <p>Last name:</p>   
    @Html.EditorFor(model => model.User.LastName)
    <p>Nickname:</p>   
    @Html.EditorFor(model => model.User.Nick)
    <p>Gender:</p>
    <p>Female: @Html.RadioButtonFor(model => model.User.Gender, "Female", new { @checked = "checked" })</p>
    <p>Male: @Html.RadioButtonFor(model => model.User.Gender, "Male")</p><br />
    

    <p>Skills:</p>
    @Html.CreateCheckedSkillList(@Model.Skills)

    <p><input type="submit" value="Update info"></p>
}