@model BlogSampleV2.WebUI.Models.FeedbacksViewModel

@{
    ViewBag.Title = "Feedbacks";
}

<h2>Feedbacks</h2>

@foreach (var feedback in @Model.Feedbacks)
{
    <div class="post">
        <article>@feedback.Text</article>
        <p>Posted by <strong>@feedback.Author.Nick</strong> @feedback.PostedDate.ToShortDateString()</p>
    </div>
}
@Html.BeginForm("Feedbacks", "GuestBook", "POST")
{
<p>
    First name:
    @Html.Editor("aswertd")
</p>
<p>
    Last name:
    @Html.Editor("asewrtd")
</p>
<p>Nickname:</p>
@Html.Editor("asdf")
<input type="submit" value="Add feedback">
}
<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Feedbacks", new { page = x }))
</div>